.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-div {
    width: 80%;
    height: 80%;
    border: 3px solid green;
    margin: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.buttons-div {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;  
}

.thumbnails-div{
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}

button {
    width: 120px;
    height: 20px;
}