.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
}

.display-div {
    width: 60%;
    height: 60%;
    /* border: 3px solid green; */
    margin: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.buttons-div {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;  
}

.thumbnails-div{
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 50px;
}

button {
    width: 120px;
    height: 20px;
}